
.deckcard{
    /*positioning*/
    display: flex;
    flex-direction: row;
    position: relative;

    /*sizing*/
    min-width: 90vw;
    height: max(4rem, 5vh);


    overflow: hidden;

    background: #a3d5ff;

    border: 3px solid black;
    border-radius: 0.5rem;


    @media (min-width: 768px){
        min-width: 20vw;
    }
}

.name{
    max-width: 10rem;
    overflow: hidden;
}

.icon{
    display: flex;
    align-items: center;
}

.util{
    position: absolute;
    right: 0;
}