
.deckcard{
    display: flex;
    flex-direction: row;
    background: lightblue;
    min-width: 20rem;
    border: 3px solid black;
    /*height: clamp(100px, 100px, 100px);*/
    /*aspect-ratio: 3/2;*/
}