.deck{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: clamp(60vw, 80vw, 80vw);

}


.container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: black;
    gap:1rem
}

