.navbar{
    position: fixed;
    width: clamp(200px, 10vw, 350px);
    background: #0a0a0a;
    height: 100vh;
    color: white;
    padding: min(2rem, 8%);
}

.icon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 0.4rem;
}